{% extends "base.html" %}
{% block title %}Message 💌{% endblock %}
{% block content %}
<section class="card letter">
  <h2 class="h2">A Message for You 💖</h2>

  <p>
    Today &amp; Forever I just want to say… “Mahadev, in His infinite kindness,
    gifted you to me—and my heart feels forever blessed and grateful.” I want
    to be your home, where your heart feels safe. I wish to be not only your
    wife, but also your sunflower, growing beside you in every season.
    “Will you let me into your mind and heart?” Happy forever Valentines Day,
    my joyous man.” This website is a small gift, what I offer you is my
    constancy.
  </p>

  <p>
    Thank you for being my calm, my happiness, the part of my life's journey,
    the one my heart feels safest with. I choose you—today, tomorrow, always.
  </p>
</section>
{% endblock %}
